# Put dependencies required for running properly the module here
rpyc==5.0.1
paramiko==2.6.0
black==20.5.0
--extra-index-url https://ubit-artifactory-or.intel.com/artifactory/api/pypi/epg-sw-mfd-or-repos/simple
mfd-typing==1.11.0
mfd-connect==6.30.0
