--extra-index-url https://ubit-artifactory-or.intel.com/artifactory/api/pypi/epg-sw-mfd-or-repos/simple
mfd-basic-logic==4.15.3
mfd-berta-wrappers-nicinstaller==2.16.0
mfd-berta-wrappers-agat==4.6.0
mfd-berta-wrappers-p4c==2.6.0
mfd-berta-wrappers-pytest==1.18.0
# erdantic  # may be used for drawing ERD diagrams based on pydantic models, need to install graphviz first: https://graphviz.org/download/
docker
sshtunnel==0.4.1
geonode=4.0.0
pytest~=7.2.1
pytest-json-report
pytest-mfd-config==3.17.0
pytest-mfd-logging==1.17.0
pytest-check

mfd-bootutil==1.7.0
mfd-celo==1.9.0
mfd-cli-client==1.10.0
mfd-code-quality==0.10.1; "FreeBSD" not in platform_system
mfd-common-libs==1.9.0
mfd-connect==6.51.1
mfd-const==0.19.0
mfd-controller-reboot==1.6.0
mfd-cpm==1.6.0
mfd-crictl==1.7.0
mfd-dcb==1.17.0
mfd-ddp-tool==1.6.0
mfd-dediprog-nvm==1.6.0
mfd-dellmanagement==1.7.0
mfd-devcon==1.8.0
mfd-diskless-control==2.6.0
mfd-dmesg==1.19.0
mfd-dpdk==1.9.0
mfd-drvdiag==1.6.0
mfd-eeprommap==0.9.0
mfd-eeupdate==1.11.0
mfd-epct==3.3.0
mfd-esxi==2.23.0
mfd-ethtool==3.13.0
mfd-event-log==0.8.0
mfd-fabtest==1.6.0
mfd-fio==1.6.0
mfd-fmp==1.6.0
mfd-frameworks-webserver==0.14.0; "FreeBSD" not in platform_system
mfd-ftp==1.7.0
mfd-fxp==1.8.0
mfd-gpio-controller==1.6.0
mfd-hiiparams==1.6.0
mfd-host==1.21.0
mfd-hyperv==1.20.0
mfd-iometer==2.6.0
mfd-iperf==3.10.0
mfd-ipu==3.40.1
mfd-ipu-fuse==0.1.0
mfd-ixchariot==0.5.0
mfd-journalctl==0.10.0
mfd-kernel-installer==3.6.0
mfd-kernel-namespace==1.7.0
mfd-kubeadm==1.6.0
mfd-kvm==3.10.0
mfd-libibverbs-utils==1.6.0
mfd-librdmacm-utils==1.10.0
mfd-mount==1.7.0
mfd-mpi==1.8.0
mfd-ndis-tester==0.4.0
mfd-netperf==1.14.0
mfd-network-adapter==13.68.0
mfd-nura==2.6.0
mfd-nvm-manager==0.5.0
mfd-nvmcheck==1.7.0
mfd-nvme-cli==1.6.0
mfd-nvmupdate==1.13.0
mfd-osd-control==0.7.0
mfd-package-manager==2.21.1
mfd-packet-capture==2.15.0
mfd-pauseframecannon==1.6.0
mfd-ping==1.13.0
mfd-pktgen==1.6.0
mfd-powermanagement==1.9.0
mfd-preboot-build==2.6.0
mfd-preboot-loader==1.6.0
mfd-prebootutility==1.6.0
mfd-rdma-perftest==2.7.0
mfd-rpi-tool==2.4.0
mfd-scapy==3.6.0
mfd-screen-content-control==1.7.0; "FreeBSD" not in platform_system
mfd-serial==1.6.0
mfd-stats==0.12.0
mfd-switchmanagement==2.13.0
mfd-synctime==1.9.0
mfd-sysctl==1.5.0
mfd-tctool==2.2.0
mfd-tftp==1.8.0
mfd-tmux==0.3.0
mfd-tool==2.6.0
mfd-traffic-manager==1.17.0
mfd-typing==1.19.0
mfd-uverbs==1.6.0
mfd-win-registry==1.16.0
mfd-wpp-tracing==2.6.0
mfd-xdp==1.8.0
