-r requirements.txt  # Ensure tests dependencies are automatically included

# Put dependencies required for testing the module here
pytest ~= 6.2.2
pytest-cov ~= 2.11.1
pytest-mock ~= 3.5.1
mocodo==4.0.0
